// Device sizes.
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1600px;
$sizes: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;

// Grid.
$gutter: 20px !default;
$breakpoints: (
  'xs' '(min-width: ' + $xs + ')',
  'sm' '(min-width: ' + $sm + ')',
  'md' '(min-width: ' + $md + ')',
  'lg' '(min-width: ' + $lg + ')',
  'xl' '(min-width: ' + $xl + ')'
) !default;

// Colors.
$alabaster: #f9f9f9;
$big-stone: #14233c;
$black: #000000;
$gallery: #ededed;
$guardsman-red: #cc0000;
$ocean-green: #43af7a;
$picton-blue: #4ab8de;
$silver: #bbbbbb;
$white: #ffffff;
